SERVER_PORT=8081

DB_URL=jdbc:postgresql://localhost:5432/payments
DB_USERNAME=payment_user
DB_PASSWORD=payment_password

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP=payment-event-consumers

SHOW_SQL=false